

// Nav
nav {
    #logo-nav {
        height: 100px;
        width: auto;
    }

}

// Nav change colour on scroll - taken from https://stackoverflow.com/questions/23706003/changing-nav-bar-color-after-scrolling

// Controls nav background colour
.navbar-fixed-top.scrolled {
    background-color: rgb(190, 49, 49) !important;
    transition: background-color 200ms linear;
}

// Controls nav text colour
.navbar-fixed-top.scrolled .nav-link {
    color: rgb(245, 245, 245);
}

// Footer
footer {

}
