@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Noto+Serif:100,200,300,400,500,600,700");

// ------------------------------- Mixins

@mixin flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

// ------------------------------- Colour variables

$primary-1: #41387C;
$primary-2: #9D98C2;
$primary-3: #3755be;
$primary-4: #E5376F;
$primary-5: #F1C48D;
$primary-6: white;

// ------------------------------- Media queries - Screen sizes variables

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

// ------------------------------- General styling

body,
footer {
    font-family: "Roboto", sans-serif;
}

// ------------------------------- Block divider

.block-divider {
    margin: 5rem 0;
}

.catalogue-container__block-divider {
    width: 50px;
    height: 5px;
    background-color: $primary-6;
}

//------------------------------------------> Nav

nav {
    .navbar-brand {
        font-weight: 500;
    }
}

.navbar {
    padding: 0.9rem;
    background-color: $primary-3;
    color: $primary-6;
}

// Nav change colour on scroll - taken from https://stackoverflow.com/questions/23706003/changing-nav-bar-color-after-scrolling
// Controls nav background colour after scroll
.navbar-fixed-top.scrolled {
    background-color: $primary-1 !important;
    transition: background-color 200ms linear;
}

// Controls nav text colour after scroll
.navbar-fixed-top.scrolled .nav-link {
    color: $primary-2;
}

//------------------------------------------> Main container

.main-container {
    margin-top: 69px;
    height: 100vh;
    background: url("../images/susan-yin-unsplash.jpg") no-repeat fixed center;
    background-size: cover;
    position: relative;

    @include flexbox;

    &__arrow {
        position: absolute;
        bottom: 45px;
        left: 50%;
        width: 60px;
        height: 60px;
        cursor: pointer;
        animation: updown 1.5s ease infinite;
    }

    a > i {
        position: absolute;
        font-size: 2.5rem;
        color: $primary-3;
        margin-top: -30px;
    }

    &__card {
        background-color: $primary-6;
        border-radius: 50px 0;
        padding: 30px;
        box-shadow: 10px 10px $primary-1;
    }

    &__card-title {
        font-family: "Noto Serif", serif;
        font-weight: 500;
        font-size: 50px;
        color: $primary-1;
    }

    &__card-text {
        font-size: 1.2em;
    }

    &__opacity {
        background-color: rgba($primary-2, 0.2);
    }
}


@media (max-width: $mobile-width) {
    .main-container__card {
        padding: 0;
    }
}


// Animation up and down arrow hero image taken from https://stackoverflow.com/questions/59135939/how-to-make-an-icon-move-up-and-down-with-css-animation
@keyframes updown {
    0% {
        transform: translateY(-15%);
    }

    50% {
        transform: translateY(15%);
    }

    100% {
        transform: translateY(-15%);
    }
}

//-------------------------------> How it works container

.how-it-works-container {
    &__heading {
        text-align: center;
        margin: 50px 0 50px 0;
        font-family: "Noto Serif", serif;
        color: $primary-1;
    }

    &__card {
        margin: 0 50px 100px 50px;

    }

    &__card-title {
        color: $primary-1;
        font-family: "Noto Serif", serif;
    }

    &__card-title span {
        display: block;
        color: $primary-2;
    }

    &__card-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50px 0;
        box-shadow: 5px 5px $primary-2;
    }

    &__card--right {
        text-align: right;
    }

    p > a {
        color: black;
        text-decoration: underline;
    }
}

// Media queries taken from: https://getbootstrap.com/docs/4.5/examples/carousel/

@media (min-width: $desktop-width) {
    .how-it-works-container__card-title {
        margin-top: 7rem;
        font-size: 35px;
    }
}

@media (min-width: $tablet-width) {
    .how-it-works-container__heading h2 {
        font-size: 40px;
    }
    
    .how-it-works-container__card-title {
        margin-top: 4rem;
        font-size: 35px;
    }
    .col-md-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .order-md-2 {
        order: 2;
    }
    .order-md-1 {
        order: 1;
    }
}

// ./Media queries taken from webiste above ends here

@media (min-width: $desktop-width) {
    .col-xl-5 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xl-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

//------------------------------------------> Catalogue

.catalogue-container {
    background-color: $primary-1;
    color: $primary-6;
    height: 500px;
    margin: 50px 0 50px 0;
    

    &__heading {
        text-align: center;
        font-family: "Noto Serif", serif;

        h2 {
            padding: 50px 0 25px 0;
        }
    }

    &__title {
        text-align: center;
        margin-top: 30px;
    }

    &__title--alt {
        color: $primary-2;
        padding-bottom: 35px;
        text-align: center;
    }

    &__advanced-link {
        text-decoration: none;
        text-align: center;
        padding-top: 18px;

        a {
            color: $primary-6;
        }
    }

    svg {
        width: 1rem;
        height: 1rem;
    }

    #search_box {
        button {
            width: 3rem;
            padding-top: 1em;
            padding-bottom: 1em;
            border: 0;
            background-color: $primary-4;
        }

        input {
            width: 75%;
            padding: 1rem;
            border: 0;
            background-color: #eaeaea;
            font-size: 1rem;
        }
    }

    input {
        box-sizing: border-box;
    }

    &__search-bar {
        text-align: center;
    }


}


//------------------------------------------> Footer

.footer-container {
    background-color: $primary-6;
    color: $primary-1;
    font-weight: 300;

    p > a {
        color: $primary-1;
        text-decoration: underline;
    }

    &__wrapper {
        padding: 0 0 2em 0;
    }


    &__logo {
            text-align: center;
    }
        
    &__logo-img {
            border-radius: 5%;
            width: 80%;
            object-fit: cover;
            align-items: center;
        }

    &__nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        & a {
            color: $primary-1;
        }
    }

    &__nav-link {
        text-align: left;
    }

    &__social-links {
        padding: 0;
    }

    &__social-links--list {
        text-align: center;
        background-color: $primary-1;
        margin: 0;
        padding: 15px 0;

        a {
            text-decoration: none;
            color: $primary-6;
            font-size: 1.5em;
        }
    }

    .list-inline-item {
        margin-right: 1em;
    }
}

@media (max-width: $mobile-width) {
    .footer-container__logo-img {
        padding: 2.5em 0 2.5em 0;
    }
}

@media (min-width: $desktop-width) {
    .footer-container__logo-img {
        max-width: 30%;
    }
}

@media (max-width: $tablet-width) {
    .footer-container__logo-img {
        max-width: 70%;
    }
}